.schedule {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    // height: $insideContainer;
    // overflow: hidden;
    & div {
        width: 100%;
    }
}